section.curiosidades {
  background-color: #e6e6e6;
  padding: 2rem 0;
}

section.curiosidades h2 {
  text-align: center;
  font-size: clamp(1rem, 7vw, 2.2rem);
  margin-bottom: 1.2rem;
}

div.curiosidades {
  width: 98%;
  max-width: 1120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 0.6rem;
}

div.curiosidade {
  width: 100%;
  background-color: #fff;
  padding: 1rem 0.6rem;
  border-radius: 0.8rem;
  box-shadow: -4px 4px 3px 1px rgba(0, 0, 0, 0.2);
}

div.curiosidade h3 {
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.6rem);
  margin-bottom: 0.2rem;
}

div.curiosidade p {
  font-size: clamp(1rem, 3vw, 1.08rem);
  text-indent: 14px;
}

@media screen and (max-width: 720px) {
  div.curiosidades {
    flex-direction: column;
    align-items: center;
  }

  section.curiosidades h2 {
    font-size: clamp(1rem, 12vw, 1.8rem);
  }

  div.curiosidade {
    max-width: 580px;
  }

  div.curiosidade h3 {
    font-size: clamp(1rem, 10vw, 1.8rem);
  }

  div.curiosidade p {
    font-size: clamp(0.9rem, 6vw, 1.3rem);
  }
}