section.relatos {
  background-color: #33211c;
  padding: 1.5rem 0;
}

section.relatos h2 {
  color: #f5eec3;
  text-align: center;
  font-size: clamp(1rem, 6vw, 2.2rem);
  margin-bottom: 0.8rem;
}

section.relatos img {
  border: 3px solid #f5eec3;
  outline: 3px solid #33211c;
  width: 100%;
  max-width: 160px;
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

div.relatos {
  width: 98%;
  max-width: 1120px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

div.relato {
  width: 100%;
  max-width: 340px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

div.relato h3 {
  text-align: center;
  font-size: clamp(1rem, 6vw, 1.6rem);
  margin: 0.2rem 0;
}

div.relato p {
  font-size: clamp(1rem, 3vw, 1.08rem);
  text-indent: 14px;
}

@media screen and (max-width: 720px) {
  div.relatos {
    flex-direction: column;
    align-items: center;
  }
}