header {
  background-color: #33211c;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 0;
}

header i.fa-paw {
  font-size: 2.5rem;
  display: none;
}

header h1 {
  font-size: clamp(1.4rem, 10vw, 3rem);
}

header div.main-header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

header div.image-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

header img {
  width: 100%;
  height: auto;
  max-width: 620px;
}

header button {
  background-color: transparent;
  padding: 1rem 0;
  overflow: hidden;
  color: #f5eec3;
  border: 1px solid #f5eec3;
  border-radius: 1.8rem;
  font-size: 1.1rem;
  transition: all 0.3s;
}

header button:hover {
  background-color: #f5eec3;
  color: #33211c;
}

header button:hover a {
  color: #33211c;
}

header a {
  padding: 1rem 2.5rem;
  text-decoration: none;
  color: #f5eec3;
  transition: all 0.3s;
}

header a:hover {
  color: #33211c;
}

@media screen and (max-width: 720px) {
  header {
    min-height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header i.fa-paw {
    display: inline;
  }

  div.image-header, header img {
    display: none
  }
}